/*COMMON STYLE*/
body{
    margin:0;
}

.container{
    margin: 0 auto;
    max-width: 1145px;
}

a{
    text-decoration: none;
}

/*HEADER STYLe*/
.nav-menu{
    margin: 26px 0;
}
.nav-list{
    display: flex;
    list-style: none;
    justify-content: center;
   
}
.nav-link{
    text-transform: uppercase;
    color: #FF0000;
    padding: 10px;
    margin-left: 52px;
}

/*MAIN STYLE*/
.article-wrapper{
    text-align: center;
}
.article-title{
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.2px;
}
.btn-wrapper{
    text-align: center;
    margin: 68px 0 82px;
}

.btn{
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 18px 43px;
    text-transform: uppercase;
    border-radius: 8px;
}